{% extends 'base.html' %}
{% load humanize %}


{% block content %}

<style>
    .card{
        box-shadow: 13px 13px 20px #cbced1, -13px -13px 20px #fff;
        background-color: #4DA4E6;
        color: white;
    }

</style>



<div class="container">

    <div class="row justify-content-center">
  <div class="col-lg-9" style="background-color: #F2F2F2;">
    
        <canvas id="salesChart"></canvas>
    
  </div>
 
  <div class="col-lg-3">
    <!-- <div class="card"> -->
        <!-- <div class="card-body"> -->
           
            <div class="card mb-2">
                <div class="card-body text-center">
                    <h6><i class="fa fa-shopping-cart position-absolute top-1 start-0 px-2"></i>
                        Today Total Sales: {{total_sales}}</h6>

                </div>
            </div>
            <hr>
            <div class="card mb-2">
                <div class="card-body text-center">
                    <h6><i class="fa-solid fa-money-bill-1 position-absolute top-1 start-0 px-2"></i>
                        Today Revenue: {{daily_revenues|intcomma}}</h6>
                </div>
            </div>
            
            <hr>
            <div class="card mb-2">
                <div class="card-body text-center">
                    <h6><i class="fa-solid fa-money-bill-1 position-absolute top-1 start-0 px-2"></i>
                        Today Profit: {{daily_profit|intcomma}}</h6>
                </div>
            </div>
            
            <!-- <div class="card">
                <div class="card-body text-center">
                    <h6>Total Profit: {{total_profit|intcomma}}</h6>
                </div>
            </div> -->
        <!-- </div> -->
    <!-- </div> -->
  </div>

  <div class="col-lg-12 pt-5">
    <h4 class="text-center">Most Recent Sales</h4>
    <div class="table-responsive">
        <table class="table table-hover text-center">
            <tr>
                <th>s/n</th>
                <th>Product Name</th>
                <th>Quantity</th>
                <th>Unit Price</th>
                <th>Total Price</th>
                <th>Sale Date</th>
              
            </tr>
            {% for sale in sales %}
            <tr>
                <th>{{forloop.counter}}</th>
                <td>{{sale.product.name}}</td>
                <td>{{sale.quantity}}</td>
                <td>{{sale.product.standard_price|intcomma}}</td>
                <td>{{sale.get_total_price|intcomma}}</td>
                <td>{{sale.sale_date|date}}</td>
                
            </tr>
            {% endfor %}
        </table>
    </div>
  </div>


    </div>


   
</div>

{% include 'chart.html' %}


   
  


    
{% endblock content %}