<!-- reorder_point_products.html -->

{% extends 'base.html' %}

{% block content %}

<div class="text-right">
  <a href="{% url 'reorder_point_products' %}?pdf=1" target="_blank" class="btn btn-info">Generate & Download PDF</a>
</div>
    
<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Inventory Quantity</th>
      <th>Standard Price</th>
      <th>Current Cost</th>
      <th>Reorder Point</th>
    </tr>
  </thead>
  <tbody>
    {% for product in reorder_products %}
    <tr>
      <td>{{ product.name }}</td>
      <td>{{ product.inventory_quantity }}</td>
      <td>{{ product.standard_price }}</td>
      <td>{{ product.current_cost }}</td>
      <td>{{ product.reorder_point }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>



{% endblock %}
