{% extends 'base.html' %}

{% load humanize %}

{% block content %}
<div class="text-right">
<a href="{% url 'value_report' %}?pdf=1" target="_blank" class="btn btn-info">Generate & Download PDF</a>
</div>
    <div class="row">
        <div class="row row-cols-1 row-cols-md-2 justify-content-center">
            <div class="col-lg-3">
        <div class="card mb-2">
            <div class="card-body">
            <p><strong>Total Value</strong>: {{ total_value|intcomma }}</p>
            </div>
        </div>
        </div>

        <div class="col-lg-3">
        <div class="card">
            <div class="card-body">
            <p><strong>Total Cost</strong>: {{ total_cost|intcomma }}</p>
            </div>
        </div>
        </div>

        <div class="col-lg-3">
            <div class="card">
                <div class="card-body">
                <p><strong>Profit/Loss</strong>: {{ profit|intcomma }}</p>
                </div>
            </div>
            </div>
        </div>
    </div>



<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-4" style="background-color: rgb(243, 243, 243);">
            <canvas id="stockChart"></canvas>
</div>
  <div class="col-lg-8">
    <div class="table-responsive">
        <table class="table table-sm table-bordered table-striped table-light">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Inventory Quantity</th>
                    <th>Standard Price</th>
                    <th>Current Cost</th>
                    <!-- <th>Reorder Point</th> -->
                   
                </tr>
            </thead>
            <tbody>
                {% for product in products %}
                    <tr>
                        <td>{{ product.name }}</td>
                        <td>{{ product.inventory_quantity }}</td>
                        <td>{{ product.standard_price }}</td>
                        <td>{{ product.current_cost }}</td>
                        <!-- <td>{{ product.reorder_point }}</td> -->
    
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
  </div>
    </div>
</div>



{% include 'chart2.html' %}

{% endblock content%}

